body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

#toolName {
  color: black;
  text-align: center !important;
}

#container {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

#controlContainer {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  flex-basis: calc(((100vw - 95vh)/ 2));
  width: calc(((100vw - 100vh)/ 2));
}

#centerControlBar {
  max-height: 100vh;
  overflow: hidden;
  overflow-y: visible;
  overflow-y: scroll;
  text-align: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  /* ::webkit-scrollbar {
    width: 5px;
  } */
}

#controls {
  text-align: center;
  border: 3px solid black;
}

#algorithmControls {
  padding-left: 20%;
  text-align: left;
}

#WSPDanimationSelection {
  padding-left: 60%;
}

#graphContainer {
  display: flex;  
}

#jxgbox {
  width: 95vh;
  height: 95vh;
  margin: 2%;  
}

#dataContainer {
  overflow: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 2%;
  /* flex-basis: calc(((100vw - 95vh)/ 2)); */
  /* width: calc(((100vw - 100vh)/ 2)); */
  /* max-width: 100%; */
}

#controlBar {
  text-align: center;
}

.title {
  text-align: center;
}

.dataBox {
  border-radius: 25px;
  padding: 3%;
  margin: 1.5%;
  background-color: rgb(167, 151, 189);
  text-align: left;
  overflow: auto;
  max-height: 40vh;
}

.dataBoxHeader {
  text-align: center;
}

#metricsBox {
  text-align: center;
}

#dataDownloadBox {
  text-align: center;
}

#dataDownload {
  background-color: gray;
  color: #000000;
}

#screenShot {
  display: none;
}

.separator {
  height: 3px;
  background-color: #000;
  border-color: #000;
}

.spacer {
  width: 2vw;
  background-color: #FFF;
}

.metric {
  display: block;
  background-color: grey;
  color: #000000;
  line-height: initial;
  padding: 0.31em 0.63em;
  margin: 3px 2px;
  border-radius: calc(25vw);
  text-align: center;
}

.textboxMetric {
  display: block;
  background-color: rgb(167, 151, 189);
  color: #000000;
  line-height: initial;
  padding: 0.31em 0.63em;
  margin: 3px 2px;
  border-radius: calc(25vw);
  text-align: center;
}

#numPoints {
  margin: 2%;
}

#points {
  text-align: left;
  width: 50%;
  height: 20%;
  padding-top: 0;
  padding-bottom: 10%;
  padding-right: 22px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 2px;
  background-color: #faf5f5;
  font-size: 15px;
  margin: 2%;
}

labelP {
  padding-left: 16px;
}

.formield * {
  vertical-align: top;
}

.buttonE {
  background-color: #04bd32;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 1px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
  border-width: 5px;
}

.button1 {
  background-color: rgb(167, 151, 189);
  color: black;
  border: 1px solid #e8ddf7;
  padding-top: 5px;
  width: 120px;
}

.button1:hover {
  background-color: #04bd32;
  color: white;
}

:focus,
.focus-visible:focus:not(:focus-visible) {
  color: rgb(10, 14, 236);
  /* background-color: rgb(245, 207, 207); */
}

.button1:active {
  background-color: #04bd32;
  box-shadow: 0 5px rgb(16, 164, 233);
  transform: translateY(6px);
}


.button2 {
  background-color: #f85656;
  color: rgb(247, 243, 243);
  border: 1px solid #000000;
  padding-top: 5px;
  width: 120px;
}

.button2:hover {
  background-color: #ff0000;
  color: rgb(12, 0, 0);
}

.button2:active {
  background-color: #ff002b;
  box-shadow: 0 5px rgb(252, 4, 4);
  transform: translateY(4px);
}

.bigButton {
  background-color: #04A777;
  padding: 20px 18px;
  border-radius: 40px;
  font-size: 1.61em;
  border-width: 5px;
  margin: 15px;
}

#numPoints {
  height: 18px;
}

#separationFactor {
  height: 18px;
}

#t {
  height: 18px;
}

#kPairs {
  height: 18px;
}

#downloadControls {
  text-align: center;
}

#boardDownloadPNG {
  background-color: #7289DA;
}

#boardDownloadSVG {
  background-color: #7289DA;
}




.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: rgb(167, 151, 189);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}