#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#controlBar {
    width: calc(((100vw - 100vh)/ 2) - 2vw);
    height: 100vh;
    float: left;
}

#jxgbox {
    top: 1vh;
    width: 95vh;
    height: 95vh;
    float: left;
    margin: 0 2vw;
}

#dataBar {
    width: calc(((100vw - 100vh)/ 2) - 2vw);
    height: 100vh;
    float: left;
}

#stepsBox {
    border-radius: 25px;
    background-color: lightgrey;
    text-align: justify;
    padding: 10px;
}

#stepsBoxHeader {
    text-align: center;
}

#metricsBox {
    border-radius: 25px;
    background-color: lightgrey;
    text-align: justify;
    padding: 10px;
}

#metricsBoxHeader {
    text-align: center;
}

#screenShot{
    display: none;
}

.separator {
	height: 3px;
	background-color: #000;
	border-color: #000;
}

.spacer{
    width: 2vw;
    background-color: #FFF;
}

.metric {
	display: inline-block;
	background-color: #666;
	color: #eee;
	line-height: initial;
	padding: 0.31em 0.63em;
	margin: 3px 2px;
	border-radius: calc(25px);
	text-align: center;
}